MONGODB_URL=mongodb+srv://<username>:<password>@<cluster>/<database>
CLERK_SECRET_KEY=sk_test_...
CLERK_WEBHOOK_SIGNING_SECRET=whsec_...
CLIPDROP_API=your_clipdrop_api_key
RAZORPAY_KEY_ID=rzp_test_...
RAZORPAY_KEY_SECRET=your_razorpay_secret
CURRENCY=INR
CLIENT_URL=http://localhost:5173
